header {
    position: sticky;
    height: 5vh;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #00ccff;
}

.logo img {
    height: 100%;
    width: auto;
}

.logo span {
    font-size: 3vh;
}

html, body {
    background-color: #fff;
}

.logo {
    background-color: #ffffff50;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #000;
    }

    .logo {
    background-color: #00000050;
    }
}