header {
    position: sticky;
    height: 5vh;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 100%;
    width: auto;
}

.logo span {
    font-size: 3vh;
}

html, body {
    background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #000;
    }
}