header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    border-bottom: 1px solid #0079ff;
}

.logo {
    height: 80%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 70%;
    width: auto;
}

.logo span {
    font-size: 2.5vh;
    font-weight: bold;
}

.lang {
    height: 80%;
}

.lang select {
    height: 100%;
    background-color: #00000000;
    border: none;
    font-size: 1.5vh;
    font-weight: lighter;
}

.transparency {
    opacity: 100%;
    transition: opacity 0.4s ease;
}

.transparency.hidden {
    opacity: 0%;
}

html, body {
    background-color: #fff;
}

.logo {
    background-color: #ffffff50;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #000;
    }

    .logo {
        background-color: #00000050;
    }
}